yarn-error.log
npm-debug.log
packages/angular-cli/src/assets/report.json
packages/polymer-2-application/src/report.json
packages/vue-cli-default/public/report.json
packages/create-react-app/src/report.json
